* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

aside {
  background: white;
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 20px;
  width: 300px;
  max-height: 400px;
  padding: 20px;
  overflow: auto;
}

.search {
  position: fixed;
  z-index: 1000;
  top: 14px;
  left: 60px;
  /* right: 168px; */
  background: white;
}
.search input {
  font-size: 16px;
}
.search .item {
  padding: 5px 10px;
}

.none {
  display: none !important;
}